.aside__container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 266px;
    background: linear-gradient(77deg, rgb(253, 82, 114) 0%, rgb(234, 109, 84) 100%);
}

.aside__menu {
    position: relative;
    display: flex;
    justify-content: space-around;
}

.aside__traingle--users {
    position: absolute;
    top: 43px;
    left: 45px;
    display: none;
    content: '';
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 7px solid #FC745B;
    transform: rotate(90deg);
}

.aside__container--useres:hover {
    .aside__traingle--users {
        display: block;
    }
}

.aside__traingle--chat {
    position: absolute;
    top: 43px;
    left: 130px;
    display: none;
    content: '';
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 7px solid #FC745B;
    transform: rotate(90deg);
}

.aside__container--chat:hover {
    .aside__traingle--chat {
        display: block;
    }
}

.aside__traingle--like {
    position: absolute;
    top: 43px;
    left: 220px;
    display: none;
    content: '';
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 7px solid #FC745B;
    transform: rotate(90deg);
}

.aside__container--like:hover {
    .aside__traingle--like {
        display: block;
    }
}

.aside__link {
    display: flex;
    justify-content: center;
    width: 80px;
    height: 47px;
}

.aside__link:hover {
    box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px #ffffff;
    border-radius: 15%;
}

.aside__link:active {
    box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px #000000;
    border-radius: 15%;
}

.aside__link-img {
    width: 20px;
    height: 16px;
}

.aside__link--users {
    background: url(../../img/aside/users.png) center center no-repeat;
}

.aside__link--chat {
    background: url(../../img/aside/chat.png) center center no-repeat;
}

.aside__link--like {
    background: url(../../img/aside/like.png) center center no-repeat;
}

.aside__main {
    display: flex;
    flex-direction: column;

    .aside__friends {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: flex-start;
        height: 470px;
        overflow: scroll;

        .aside__line {
            width: 85%;
            height: 1px;
            margin: 0 auto;
            background: #F1F1F1;
        }

        .aside__person {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 24px 10px 19px 20px;

            .information {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 175px;
                padding-left: 15px;

                h3 {
                    @include mainavtext
                }

                span {
                    @include navtext;
                    color: #C8C8C8;
                }
            }

            a {
                width: 20px;
                height: 16px;
                background: url(../../img/aside/chat-gray.png);
            }
        }

        .aside__person--valera {
            width: 42px;
        }

        .aside__person:hover {
            background: #e7e7e7;
        }
    }

    .aside__form {
        display: flex;
        justify-content: center;
        border-top: 1px solid #F1F1F1;
        border-bottom: 1px solid #F1F1F1;
        padding: 15px 0;
        background: #FCFCFC;

        .search__text {
            width: 170px;
            border: none;
            border-bottom: 1px solid #E9E9E9;
        }

        .search__text::placeholder {
            @include navtext;
            font-weight: 300;
            font-size: 10px;
            color: #C0C0C0;
        }

        .search__submit {
            width: 20px;
            height: 20px;
            margin: 0px 10px;
            cursor: pointer;
            background: url(../../img/header/header-zoom.png) center center no-repeat;
            border: none; 
        }

        .search__reset {
            width: 20px;
            height: 20px;
            margin-right: 7px;
            cursor: pointer;
            background: url(../../img/aside/pen.png) center center no-repeat;
            border: none;
        }
    }

    .aside__company {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h3 {
            margin: 27px 0;
            @include mainavtext;
        }

        .aside__links {
            display: flex;
            flex-direction: column;
            padding: 10px 0;

            .aside__links--top {
                display: flex;

                .aside__link--rdio {
                    width: 55px;
                    height: 55px;
                    background: url(../../img/aside/companys-full/rdio.png) center center no-repeat;
                }

                .aside__link--css-3 {
                    width: 55px;
                    height: 55px;
                    background: url(../../img/aside/companys-full/css-3.png) center center no-repeat;
                }

                .aside__link--deviantart {
                    width: 55px;
                    height: 55px;
                    background: url(../../img/aside/companys-full/deviantart.png) center center no-repeat;
                }

                .aside__link--top {
                    margin: 5px;
                    margin-bottom: 2px;
                }
            }

            .aside__links--bottom {
                display: flex;

                .aside__link--xing {
                    width: 55px;
                    height: 55px;
                    background: url(../../img/aside/companys-full/xing.png) center center no-repeat;
                }

                .aside__link--vimeo {
                    width: 55px;
                    height: 55px;
                    background: url(../../img/aside/companys-full/vimeo.png) center center no-repeat;
                }

                .aside__link--vk {
                    width: 55px;
                    height: 55px;
                    background: url(../../img/aside/companys-full/vk.png) center center no-repeat;
                }

                .aside__link--bottom {
                    margin: 5px;
                    margin-top: 10px;
                }
            }
        }
    }
}