.navigation {
    display: flex;
    flex-direction: column;
    width: 70px;
    min-height: 100vh;
}

.logo__img {
    display: block;
    width: 70px;
    height: 70px;
    box-shadow: 9px -2px 22px -9px #000000;
    background: url(../../img/nav/logo.png) center center no-repeat;
}

.navigation__container {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(77deg, rgb(253, 82, 114) 0%, rgb(234, 109, 84) 100%);
}

.navigation__menu {
    display: flex;
    flex-direction: column;
}

.navigation__link {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 70px;
    height: 70px;
    text-decoration: none;
    @include navtext;
    align-items: center;
}

.navigation__link:hover {
    box-shadow: inset 2px 2px 5px #a8a8a8, 1px 1px 5px #ffffff;
    border-radius: 15%;
}

.navigation__link:active {
    box-shadow: inset 2px 2px 5px #a8a8a8, 1px 1px 5px #000000;
    border-radius: 20%;
}

.navigation__link--home {
    background: url(../../img/nav/nav-home.png) center center no-repeat;
}

.navigation__menu {
    position: relative;
}

.navigation__traingle--home {
    display: none;
    position: absolute;
    top: 33px;
    left: 70px;
    content: '';
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 7px solid #FC745B;
}

.navigation__container--home:hover {
    .navigation__traingle--home {
        display: block;
    }
}

.navigation__traingle--stactics {
    display: none;
    position: absolute;
    top: 99px;
    left: 70px;
    content: '';
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 7px solid #FC745B;
}

.navigation__container--stactics:hover {
    .navigation__traingle--stactics {
        display: block;
    }
}

.navigation__traingle--users {
    display: none;
    position: absolute;
    top: 171px;
    left: 70px;
    content: '';
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 7px solid #FC745B;
}

.navigation__container--users:hover {
    .navigation__traingle--users {
        display: block;
    }
}

.navigation__traingle--settings {
    display: none;
    position: absolute;
    top: 241px;
    left: 70px;
    content: '';
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 7px solid #FC745B;
}

.navigation__container--settings:hover {
    .navigation__traingle--settings {
        display: block;
    }
}

.navigation__traingle--quires {
    display: none;
    position: absolute;
    top: 311px;
    left: 70px;
    content: '';
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 7px solid #FC745B;
}

.navigation__container--quires:hover {
    .navigation__traingle--quires {
        display: block;
    }
}

.navigation__link--stactics {
    background: url(../../img/nav/nav-bar-chart.png) center center no-repeat;
}

.navigation__link--users {
    background: url(../../img/nav/nav-user.png) center center no-repeat;
}

.navigation__link--settings {
    background: url(../../img/nav/nav-settings.png) center center no-repeat;
}

.navigation__link--quires {
    background: url(../../img/nav/nav-information.png) center center no-repeat;
}

.navigation___exit {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    margin-bottom: 20px;
}

.navigation__exit--btn {
    width: 20px;
    height: 20px;
    cursor: pointer;
    outline: none;
    background: url(../../img/nav/nav-power-button.png) center center no-repeat;
}

.navigation__exit--btn:hover {
    width: 20px;
    height: 20px;
    transform: rotate(365deg);
    background: url(../../img/nav/nav-power-button.png) center center no-repeat;
}

.navigation__exit--btn:active {
    width: 20px;
    height: 20px;
    background: url(../../img/nav/nav-btn-black.png) center center no-repeat;
    background-size: cover;
    transform: rotate(-365deg);
    border-radius: 50%;
    transition: 0.1s;
}