.navigation {
    display: flex;
    flex-direction: column;
    width: 70px;
    min-height: 100vh;


}

.logo {
    width: 70px;
    height: 70px;
    box-shadow: -10px 0 30px 0 #000000;
    background: url(./../../img/logo.png) center center no-repeat;

}

.navigation__container {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(77deg, rgb(253, 82, 114) 0%, rgb(234, 109, 84) 100%);
}

.navigation__menu {
    display: flex;
    flex-direction: column;
}

.navigation__link {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 70px;
    height: 70px;
    text-decoration: none;

}

.navigation__link--home {
    background: url(./../../img/nav/nav-home.png) center center no-repeat;

    &:hover {
        transform: rotate(-340deg);
        border-radius: 50%;
        transition: 0.2s;
    }
}

.navigation__link--stactics {
    background: url(./../../img/nav/nav-bar-chart.png) center center no-repeat;

    &:hover {
        transform: rotate(345deg);
        border-radius: 50%;
        transition: 0.2s;
    }
}

.navigation__link--users {
    background: url(./../../img/nav/nav-user.png) center center no-repeat;

    &:hover {
        transform: rotate(-340deg);
        border-radius: 50%;
        transition: 0.2s;
    }
}

.navigation__link--settings {
    background: url(./../../img/nav/nav-settings.png) center center no-repeat;

    &:hover {
        transform: rotate(345deg);
        border-radius: 50%;
        transition: 0.2s;
    }
}

.navigation__link--quires {
    background: url(./../../img/nav/nav-information.png) center center no-repeat;

    &:hover {
        transform: rotate(-340deg);
        border-radius: 50%;
        transition: 0.2s;

    }
}

.navigation__link:hover {
    box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px #ffffff;
    border-radius: 15%;
}

.navigation__link:active {
    box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px #000000;
    border-radius: 15%;
}

.navigation__link-title {
    @include ntext;
    align-items: center;
}

.navigation___exit {

    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    margin-bottom: 20px;
}

.navigation__exit--btn {
    width: 20px;
    height: 20px;
    cursor: pointer;
    outline: none;
    background: url(./../../img/nav/nav-power-button.png) center center no-repeat;

}

.navigation__exit--btn:hover {
    width: 30px;
    height: 30px;
    transform: rotate(365deg);
    background: url(./../../img/nav/nav-power-button.png) center center no-repeat;
    position: absolute;
}

.navigation__exit--btn:active {
    width: 25px;
    height: 25px;
    background: url(./../../img/nav/ок-png-5.png) center center no-repeat;
    background-size: cover;
    transform: rotate(-365deg);
    border-radius: 50%;
    transition: 0.2s;
}


.navigation__traingle {
    position: absolute;
    top: 45px;
    left: 70px;
    content: '';
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 7px solid #FC745B;
}

.navigation__btn:hover {
    width: 25px;
    height: 25px;
    background: url(./../img/nav/nav-power-button.png) center center no-repeat;
    background-size: cover;
    transition: 0.3s;
}

.navigation__btn:active {
    width: 25px;
    height: 25px;
    background: url(./../../img/nav/ок-png-5.png) center center no-repeat;
    background-size: cover;
    border-radius: 50%;
    transition: 0.1s;
}