@mixin navtext {
    font-family: 'Lato', sans-serif;
    /*navtext - highlight navigation*/
    font-weight: 400;
    color: #ffffff;
    font-size: calc(10px + 0.137vw);
}

@mixin titletext {
    font-family: 'Lato', sans-serif;
    /*titletext - headers and titles*/
    font-weight: bold;
    color: #777777;
    font-size: calc(10px + 0.137vw);
}

@mixin mainavtext {
    font-family: 'Lato', sans-serif;
    /*mainavtext - classic style for main content*/
    font-weight: bold;
    color: #777777;
    font-size: calc(16px + 0.1vw);
}

@mixin arrowstext {
    font-family: 'Lato', sans-serif;
    /*arrowstext - used for decorative arrows*/
    font-weight: bold;
    color: #BFBFBF;
    font-size: calc(10px + 0.137vw);
}

@mixin bigtext {
    font-family: 'Lato', sans-serif;
    /*b - big text*/
    font-weight: 900;
    color: #777777;
    font-size: calc(10px + 0.137vw);
}