* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 0px;
}

button {
  border: none;
  cursor: pointer;
  outline: none;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 70px;
  min-height: 100vh;
}

.logo__img {
  display: block;
  width: 70px;
  height: 70px;
  background: url(../../img/nav/logo.png) center center no-repeat;
  -webkit-box-shadow: 9px -2px 22px -9px #000000;
          box-shadow: 9px -2px 22px -9px #000000;
}

.navigation__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  background: linear-gradient(77deg, #fd5272 0%, #ea6d54 100%);
}

.navigation__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navigation__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70px;
  height: 70px;
  font-family: 'Lato', sans-serif;
  /*navtext - highlight navigation*/
  font-weight: 400;
  font-size: calc(10px + 0.137vw);
  color: #ffffff;
  text-decoration: none;
}

.navigation__link:hover {
  -webkit-box-shadow: inset 2px 2px 5px #a8a8a8, 1px 1px 5px #ffffff;
          box-shadow: inset 2px 2px 5px #a8a8a8, 1px 1px 5px #ffffff;
  border-radius: 15%;
}

.navigation__link:active {
  -webkit-box-shadow: inset 2px 2px 5px #a8a8a8, 1px 1px 5px #000000;
          box-shadow: inset 2px 2px 5px #a8a8a8, 1px 1px 5px #000000;
  border-radius: 20%;
}

.navigation__link--home {
  background: url(../../img/nav/nav-home.png) center center no-repeat;
}

.navigation__menu {
  position: relative;
}

.navigation__traingle--home {
  position: absolute;
  top: 33px;
  left: 70px;
  display: none;
  content: '';
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 7px solid #FC745B;
}

.navigation__container--home:hover .navigation__traingle--home {
  display: block;
}

.navigation__traingle--stactics {
  position: absolute;
  top: 99px;
  left: 70px;
  display: none;
  content: '';
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 7px solid #FC745B;
}

.navigation__container--stactics:hover .navigation__traingle--stactics {
  display: block;
}

.navigation__traingle--users {
  position: absolute;
  top: 171px;
  left: 70px;
  display: none;
  content: '';
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 7px solid #FC745B;
}

.navigation__container--users:hover .navigation__traingle--users {
  display: block;
}

.navigation__traingle--settings {
  position: absolute;
  top: 241px;
  left: 70px;
  display: none;
  content: '';
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 7px solid #FC745B;
}

.navigation__container--settings:hover .navigation__traingle--settings {
  display: block;
}

.navigation__traingle--quires {
  position: absolute;
  top: 311px;
  left: 70px;
  display: none;
  content: '';
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 7px solid #FC745B;
}

.navigation__container--quires:hover .navigation__traingle--quires {
  display: block;
}

.navigation__link--stactics {
  background: url(../../img/nav/nav-bar-chart.png) center center no-repeat;
}

.navigation__link--users {
  background: url(../../img/nav/nav-user.png) center center no-repeat;
}

.navigation__link--settings {
  background: url(../../img/nav/nav-settings.png) center center no-repeat;
}

.navigation__link--quires {
  background: url(../../img/nav/nav-information.png) center center no-repeat;
}

.navigation___exit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: auto;
  margin-bottom: 20px;
  padding: 0;
}

.navigation__exit--btn {
  width: 20px;
  height: 20px;
  cursor: pointer;
  outline: none;
  background: url(../../img/nav/nav-power-button.png) center center no-repeat;
}

.navigation__exit--btn:hover {
  width: 20px;
  height: 20px;
  background: url(../../img/nav/nav-power-button.png) center center no-repeat;
  -webkit-transform: rotate(365deg);
          transform: rotate(365deg);
}

.navigation__exit--btn:active {
  width: 20px;
  height: 20px;
  background: url(../../img/nav/nav-btn-black.png) center center no-repeat;
  background-size: cover;
  -webkit-transform: rotate(-365deg);
          transform: rotate(-365deg);
  border-radius: 50%;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #e9e9e9;
}

.profile__mobile {
  display: none;
}

.header__burger {
  display: none;
}

.header__left-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
}

.header__right-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.top__section {
  width: 60px;
  height: 70px;
}

.top__section:hover {
  border-radius: 10%;
  -webkit-box-shadow: inset 0px 0px 10px 0px #b9b9b9;
          box-shadow: inset 0px 0px 10px 0px #b9b9b9;
  -webkit-transition: 0.15s;
  transition: 0.15s;
}

.top__section:active {
  border-radius: 30%;
  -webkit-box-shadow: inset 0px 0px 10px 0px #444444;
          box-shadow: inset 0px 0px 10px 0px #444444;
  -webkit-transform: rotateZ(50deg);
          transform: rotateZ(50deg);
}

.top__section--left {
  border-right: 1px solid #F1F1F1;
}

.top__section--right {
  border-left: 1px solid #F1F1F1;
}

.top__section--rounded {
  width: 70px;
  background: url(../../img/header/header-rounded-rectangle.png) center center no-repeat;
}

.top__section--folder {
  background: url(../../img/header/header-folder.png) center center no-repeat;
}

.top__section--settings {
  background: url(../../img/header/header-settings.png) center center no-repeat;
}

.top__section-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 299px;
  height: 34px;
  background: #F8F8F8;
  border: 1px solid #F1F1F1;
  border-radius: 50px/100px;
}

.top__section-search input {
  width: 90%;
  border: none;
  background: #F8F8F8;
}

.top__section-search input::-webkit-input-placeholder {
  font-family: 'Lato', sans-serif;
  /*navtext - highlight navigation*/
  font-weight: 400;
  font-size: calc(10px + 0.137vw);
  color: #ffffff;
  font-size: 11px;
  color: #C8C8C8;
}

.top__section-search input:-ms-input-placeholder {
  font-family: 'Lato', sans-serif;
  /*navtext - highlight navigation*/
  font-weight: 400;
  font-size: calc(10px + 0.137vw);
  color: #ffffff;
  font-size: 11px;
  color: #C8C8C8;
}

.top__section-search input::-ms-input-placeholder {
  font-family: 'Lato', sans-serif;
  /*navtext - highlight navigation*/
  font-weight: 400;
  font-size: calc(10px + 0.137vw);
  color: #ffffff;
  font-size: 11px;
  color: #C8C8C8;
}

.top__section-search input::placeholder {
  font-family: 'Lato', sans-serif;
  /*navtext - highlight navigation*/
  font-weight: 400;
  font-size: calc(10px + 0.137vw);
  color: #ffffff;
  font-size: 11px;
  color: #C8C8C8;
}

.top__section-search .top__section--zoom {
  width: 16px;
  height: 16px;
  background: url(../../img/header/header-zoom.png);
  text-decoration: none;
  border: none;
  cursor: pointer;
}

.top__section--upload {
  background: url(../../img/header/header-upload.png) center center no-repeat;
}

.top__section--envelope {
  background: url(../../img/header/header-envelope.png) center center no-repeat;
}

.top__section--planet {
  background: url(../../img/header/header-planet.png) center center no-repeat;
}

.top__section--profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 230px;
}

.top__section--data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.top__section--data h3 {
  font-family: 'Lato', sans-serif;
  /*mainavtext - classic style for main content*/
  font-weight: bold;
  font-size: calc(16px + 0.1vw);
  color: #777777;
  font-size: 13px;
  background: linear-gradient(77deg, #fd5272 0%, #ea6d54 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.top__section--data span {
  font-family: 'Lato', sans-serif;
  /*navtext - highlight navigation*/
  font-weight: 400;
  font-size: calc(10px + 0.137vw);
  color: #ffffff;
  color: #BFBFBF;
}

.top__section--points {
  width: 5px;
  height: 18px;
  padding-right: 25px;
  background: url(../../img/header/header-ellipse.png) center center no-repeat;
}

.header__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__bottom .daily {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 19px;
  margin-bottom: 22px;
}

.header__bottom .daily .daily__title {
  font-family: 'Lato', sans-serif;
  /*titletext - headers and titles*/
  font-weight: bold;
  font-size: calc(10px + 0.137vw);
  color: #777777;
}

.header__bottom .daily .daily__money {
  font-family: 'Lato', sans-serif;
  /*titletext - headers and titles*/
  font-weight: bold;
  font-size: calc(10px + 0.137vw);
  color: #777777;
  font-size: 20px;
  background: linear-gradient(77deg, #fd5272 0%, #ea6d54 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.header__bottom .daily .daily__levels {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__bottom .daily .daily__levels .daily__level {
  position: relative;
  font-family: 'Lato', sans-serif;
  /*arrowstext - used for decorative arrows*/
  font-weight: bold;
  font-size: calc(10px + 0.137vw);
  color: #BFBFBF;
}

.header__bottom .daily .daily__levels .daily__level::before {
  position: absolute;
  top: 7px;
  left: -7px;
  width: 0px;
  height: 0px;
  border-right: transparent 2px solid;
  border-bottom: 5px solid #A889E9;
  border-left: transparent 2px solid;
  content: '';
}

.header__bottom .daily .daily__levels .daily__level-two {
  position: relative;
  margin-left: 10px;
  font-family: 'Lato', sans-serif;
  /*arrowstext - used for decorative arrows*/
  font-weight: bold;
  font-size: calc(10px + 0.137vw);
  color: #BFBFBF;
}

.header__bottom .daily .daily__levels .daily__level-two::before {
  position: absolute;
  top: 7px;
  left: -7px;
  width: 0px;
  height: 0px;
  border-top: 5px solid #FD5670;
  border-right: 2px solid transparent;
  border-left: 2px solid transparent;
  content: '';
}

.aside__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 266px;
  background: linear-gradient(77deg, #fd5272 0%, #ea6d54 100%);
}

.aside__menu {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.aside__traingle--users {
  position: absolute;
  top: 43px;
  left: 45px;
  display: none;
  content: '';
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 7px solid #FC745B;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.aside__container--useres:hover .aside__traingle--users {
  display: block;
}

.aside__traingle--chat {
  position: absolute;
  top: 43px;
  left: 130px;
  display: none;
  content: '';
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 7px solid #FC745B;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.aside__container--chat:hover .aside__traingle--chat {
  display: block;
}

.aside__traingle--like {
  position: absolute;
  top: 43px;
  left: 220px;
  display: none;
  content: '';
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 7px solid #FC745B;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.aside__container--like:hover .aside__traingle--like {
  display: block;
}

.aside__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80px;
  height: 47px;
}

.aside__link:hover {
  -webkit-box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px #ffffff;
          box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px #ffffff;
  border-radius: 15%;
}

.aside__link:active {
  -webkit-box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px #000000;
          box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px #000000;
  border-radius: 15%;
}

.aside__link-img {
  width: 20px;
  height: 16px;
}

.aside__link--users {
  background: url(../../img/aside/users.png) center center no-repeat;
}

.aside__link--chat {
  background: url(../../img/aside/chat.png) center center no-repeat;
}

.aside__link--like {
  background: url(../../img/aside/like.png) center center no-repeat;
}

.aside__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.aside__main .aside__friends {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 470px;
  overflow: scroll;
}

.aside__main .aside__friends .aside__line {
  width: 85%;
  height: 1px;
  margin: 0 auto;
  background: #F1F1F1;
}

.aside__main .aside__friends .aside__person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 24px 10px 19px 20px;
}

.aside__main .aside__friends .aside__person .information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 175px;
  padding-left: 15px;
}

.aside__main .aside__friends .aside__person .information h3 {
  font-family: 'Lato', sans-serif;
  /*mainavtext - classic style for main content*/
  font-weight: bold;
  font-size: calc(16px + 0.1vw);
  color: #777777;
}

.aside__main .aside__friends .aside__person .information span {
  font-family: 'Lato', sans-serif;
  /*navtext - highlight navigation*/
  font-weight: 400;
  font-size: calc(10px + 0.137vw);
  color: #ffffff;
  color: #C8C8C8;
}

.aside__main .aside__friends .aside__person a {
  width: 20px;
  height: 16px;
  background: url(../../img/aside/chat-gray.png);
}

.aside__main .aside__friends .aside__person--valera {
  width: 42px;
}

.aside__main .aside__friends .aside__person:hover {
  background: #e7e7e7;
}

.aside__main .aside__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: 1px solid #F1F1F1;
  border-bottom: 1px solid #F1F1F1;
  padding: 15px 0;
  background: #FCFCFC;
}

.aside__main .aside__form .search__text {
  width: 170px;
  border: none;
  border-bottom: 1px solid #E9E9E9;
}

.aside__main .aside__form .search__text::-webkit-input-placeholder {
  font-family: 'Lato', sans-serif;
  /*navtext - highlight navigation*/
  font-weight: 400;
  font-size: calc(10px + 0.137vw);
  color: #ffffff;
  font-weight: 300;
  font-size: 10px;
  color: #C0C0C0;
}

.aside__main .aside__form .search__text:-ms-input-placeholder {
  font-family: 'Lato', sans-serif;
  /*navtext - highlight navigation*/
  font-weight: 400;
  font-size: calc(10px + 0.137vw);
  color: #ffffff;
  font-weight: 300;
  font-size: 10px;
  color: #C0C0C0;
}

.aside__main .aside__form .search__text::-ms-input-placeholder {
  font-family: 'Lato', sans-serif;
  /*navtext - highlight navigation*/
  font-weight: 400;
  font-size: calc(10px + 0.137vw);
  color: #ffffff;
  font-weight: 300;
  font-size: 10px;
  color: #C0C0C0;
}

.aside__main .aside__form .search__text::placeholder {
  font-family: 'Lato', sans-serif;
  /*navtext - highlight navigation*/
  font-weight: 400;
  font-size: calc(10px + 0.137vw);
  color: #ffffff;
  font-weight: 300;
  font-size: 10px;
  color: #C0C0C0;
}

.aside__main .aside__form .search__submit {
  width: 20px;
  height: 20px;
  margin: 0px 10px;
  cursor: pointer;
  background: url(../../img/header/header-zoom.png) center center no-repeat;
  border: none;
}

.aside__main .aside__form .search__reset {
  width: 20px;
  height: 20px;
  margin-right: 7px;
  cursor: pointer;
  background: url(../../img/aside/pen.png) center center no-repeat;
  border: none;
}

.aside__main .aside__company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.aside__main .aside__company h3 {
  margin: 27px 0;
  font-family: 'Lato', sans-serif;
  /*mainavtext - classic style for main content*/
  font-weight: bold;
  font-size: calc(16px + 0.1vw);
  color: #777777;
}

.aside__main .aside__company .aside__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px 0;
}

.aside__main .aside__company .aside__links .aside__links--top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.aside__main .aside__company .aside__links .aside__links--top .aside__link--rdio {
  width: 55px;
  height: 55px;
  background: url(../../img/aside/Companys-full/rdio.png) center center no-repeat;
}

.aside__main .aside__company .aside__links .aside__links--top .aside__link--css-3 {
  width: 55px;
  height: 55px;
  background: url(../../img/aside/Companys-full/css-3.png) center center no-repeat;
}

.aside__main .aside__company .aside__links .aside__links--top .aside__link--deviantart {
  width: 55px;
  height: 55px;
  background: url(../../img/aside/Companys-full/deviantart.png) center center no-repeat;
}

.aside__main .aside__company .aside__links .aside__links--top .aside__link--top {
  margin: 5px;
  margin-bottom: 2px;
}

.aside__main .aside__company .aside__links .aside__links--bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.aside__main .aside__company .aside__links .aside__links--bottom .aside__link--xing {
  width: 55px;
  height: 55px;
  background: url(../../img/aside/Companys-full/xing.png) center center no-repeat;
}

.aside__main .aside__company .aside__links .aside__links--bottom .aside__link--vimeo {
  width: 55px;
  height: 55px;
  background: url(../../img/aside/Companys-full/vimeo.png) center center no-repeat;
}

.aside__main .aside__company .aside__links .aside__links--bottom .aside__link--vk {
  width: 55px;
  height: 55px;
  background: url(../../img/aside/Companys-full/vk.png) center center no-repeat;
}

.aside__main .aside__company .aside__links .aside__links--bottom .aside__link--bottom {
  margin: 5px;
  margin-top: 10px;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1366px;
  margin: 0 auto;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.container__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

/*===thes main content===*/
.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding: 20px;
  background: #ECECEC;
}

/*===top of the main===*/
.main__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 20px;
}

.top__monthly {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 265px;
  margin-right: 10px;
  background: #ffffff;
}

.mouthly__graph--top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.graph__thousands {
  list-style-type: none;
}

.graph__thousands li {
  font-family: 'Lato', sans-serif;
  /*arrowstext - used for decorative arrows*/
  font-weight: bold;
  font-size: calc(10px + 0.137vw);
  color: #BFBFBF;
  margin-bottom: 21px;
}

.graph__img {
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 574px;
  height: 62px;
  margin-left: 20px;
  margin-bottom: 20px;
  background: url(../../img/main/line.png) center center no-repeat;
}

.graph__months {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

.graph__months li {
  font-family: 'Lato', sans-serif;
  /*arrowstext - used for decorative arrows*/
  font-weight: bold;
  font-size: calc(10px + 0.137vw);
  color: #BFBFBF;
  margin-left: 28px;
}

.monthly__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

.monthly__menu h3 {
  font-family: 'Lato', sans-serif;
  /*mainavtext - classic style for main content*/
  font-weight: bold;
  font-size: calc(16px + 0.1vw);
  color: #777777;
  color: #767676;
}

.monthly__menu .monthly__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.monthly__menu .monthly__btns .monthly__btn {
  font-family: 'Lato', sans-serif;
  /*arrowstext - used for decorative arrows*/
  font-weight: bold;
  font-size: calc(10px + 0.137vw);
  color: #BFBFBF;
  margin-right: 15px;
  border: none;
  background: none;
}

.monthly__menu .monthly__btns :hover {
  border-radius: 50px/100px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  background: linear-gradient(77deg, #fd5272 0%, #ea6d54 100%);
  color: #ffffff;
}

.monthly__menu .monthly__btns .monthly__points {
  width: 5px;
  height: 18px;
  background: url(../../img/header/header-ellipse.png) center center no-repeat;
}

.top__hour {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 263px;
  height: 265px;
  margin-left: auto;
  padding: 20px;
  margin-left: 10px;
  background: #ffffff;
}

.top__hour h3 {
  padding-bottom: 14px;
  font-family: 'Lato', sans-serif;
  /*mainavtext - classic style for main content*/
  font-weight: bold;
  font-size: calc(16px + 0.1vw);
  color: #777777;
}

.top__hour .top__hour--img {
  width: 156px;
  height: 161px;
  background: url(../../img/main/hour.jpg) center center no-repeat;
  background-size: cover;
}

.top__hour .hour__levels {
  padding-top: 20px;
}

.top__hour .hour__levels .level {
  position: relative;
  font-family: 'Lato', sans-serif;
  /*arrowstext - used for decorative arrows*/
  font-weight: bold;
  font-size: calc(10px + 0.137vw);
  color: #BFBFBF;
}

.top__hour .hour__levels .level::before {
  position: absolute;
  top: 7px;
  left: -7px;
  width: 0px;
  height: 0px;
  content: '';
  border-right: transparent 2px solid;
  border-bottom: 5px solid #A889E9;
  border-left: transparent 2px solid;
}

.top__hour .hour__levels .level-two {
  position: relative;
  margin-left: 10px;
  font-family: 'Lato', sans-serif;
  /*arrowstext - used for decorative arrows*/
  font-weight: bold;
  font-size: calc(10px + 0.137vw);
  color: #BFBFBF;
}

.top__hour .hour__levels .level-two::before {
  position: absolute;
  top: 7px;
  left: -7px;
  width: 0px;
  height: 0px;
  content: '';
  border-top: 5px solid #FD5670;
  border-right: 2px solid transparent;
  border-left: 2px solid transparent;
}

/*===bottomt of the main===*/
.main__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__bottom-left {
  margin-right: 10px;
  background-color: #ffffff;
}

.container__reviews {
  width: 100%;
  height: 510px;
  padding: 30px;
}

.container__reviews h3 {
  font-family: 'Lato', sans-serif;
  /*mainavtext - classic style for main content*/
  font-weight: bold;
  font-size: calc(16px + 0.1vw);
  color: #777777;
}

.reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 17px;
}

.reviews__msturner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.reviews__msturner .msturner__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reviews__msturner .msturner__title .msturner__title--profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.reviews__msturner .msturner__title .msturner__title--profile img {
  margin-right: 20px;
  margin-bottom: 13px;
}

.reviews__msturner .msturner__title .msturner__title--profile span {
  font-family: 'Lato', sans-serif;
  /*navtext - highlight navigation*/
  font-weight: 400;
  font-size: calc(10px + 0.137vw);
  color: #ffffff;
  color: #979796;
  font-size: 8px;
}

.reviews__msturner .msturner__title .msturner__title--comment {
  padding: 15px;
  border: 1px solid #F1F1F1;
  background: #FCFCFC;
}

.reviews__msturner .msturner__title .msturner__title--comment span {
  font-family: 'Lato', sans-serif;
  /*navtext - highlight navigation*/
  font-weight: 400;
  font-size: calc(10px + 0.137vw);
  color: #ffffff;
  font-size: 12px;
  color: #C8C8C8;
}

.reviews__msturner .msturner__additionally {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0;
}

.reviews__msturner .msturner__additionally .additionally__block {
  margin-left: 80px;
  margin-right: 13px;
  border-right: 4px solid #F1F1F1;
}

.reviews__msturner .msturner__additionally .additionally__comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.reviews__msturner .msturner__additionally .additionally__comments .additionally__comment--top {
  margin-bottom: 15px;
  padding: 15px;
  border: 1px solid #F1F1F1;
  background: #FCFCFC;
}

.reviews__msturner .msturner__additionally .additionally__comments .additionally__comment--top span {
  font-family: 'Lato', sans-serif;
  /*navtext - highlight navigation*/
  font-weight: 400;
  font-size: calc(10px + 0.137vw);
  color: #ffffff;
  font-size: 12px;
  color: #C8C8C8;
}

.reviews__msturner .msturner__additionally .additionally__comments .additionally__comment--bottom {
  padding: 15px;
  border: 1px solid #F1F1F1;
  background: #FCFCFC;
}

.reviews__msturner .msturner__additionally .additionally__comments .additionally__comment--bottom span {
  font-family: 'Lato', sans-serif;
  /*navtext - highlight navigation*/
  font-weight: 400;
  font-size: calc(10px + 0.137vw);
  color: #ffffff;
  font-size: 12px;
  color: #C8C8C8;
}

.mrquill__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mrquill__title .mrquill__title--profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mrquill__title .mrquill__title--profile img {
  margin-right: 20px;
  margin-bottom: 13px;
}

.mrquill__title .mrquill__title--profile span {
  font-family: 'Lato', sans-serif;
  /*navtext - highlight navigation*/
  font-weight: 400;
  font-size: calc(10px + 0.137vw);
  color: #ffffff;
  color: #979796;
  font-size: 8px;
}

.mrquill__title .mrquill__title--comment {
  padding: 20px;
  background: #FCFCFC;
  border: 1px solid #F1F1F1;
}

.mrquill__title .mrquill__title--comment span {
  font-family: 'Lato', sans-serif;
  /*navtext - highlight navigation*/
  font-weight: 400;
  font-size: calc(10px + 0.137vw);
  color: #ffffff;
  font-size: 12px;
  color: #C8C8C8;
}

.main__bottom-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/*==task  of the main===*/
.task {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 471px;
  height: 245px;
  margin-left: 10px;
  margin-bottom: 10px;
  padding: 20px;
  background: #ffffff;
}

.task h3 {
  font-family: 'Lato', sans-serif;
  /*mainavtext - classic style for main content*/
  font-weight: bold;
  font-size: calc(16px + 0.1vw);
  color: #777777;
}

.task ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.task ul li:nth-child(even) {
  border-top: 1px solid #EDEDED;
  border-bottom: 1px solid #EDEDED;
  background: #FCFCFC;
}

.task ul li:nth-child(1) {
  border-top: 1px solid #EDEDED;
}

.task ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.task ul li .task__btn {
  width: 17px;
  height: 17px;
}

.task ul li .task__btn:hover {
  background: #EFEFEF;
}

.task ul li .task__btn:active {
  width: 17px;
  height: 17px;
  border: none;
  background: url(../../img/main/btn-ok.png);
}

.task ul li h3 {
  font-family: 'Lato', sans-serif;
  /*b - big text*/
  font-weight: 900;
  font-size: calc(10px + 0.137vw);
  color: #777777;
  background: linear-gradient(77deg, #fd5272 0%, #ea6d54 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.task ul li span {
  margin: 14px;
  font-family: 'Lato', sans-serif;
  /*navtext - highlight navigation*/
  font-weight: 400;
  font-size: calc(10px + 0.137vw);
  color: #ffffff;
  font-size: 12px;
  color: #BFBFBF;
}

.task ul li .task__time {
  font-family: 'Lato', sans-serif;
  /*titletext - headers and titles*/
  font-weight: bold;
  font-size: calc(10px + 0.137vw);
  color: #777777;
  color: #9C9C9C;
}

.task ul li .task__time::before {
  margin-right: 5px;
  content: url(../../img/main/time.png);
}

/*====== analysis of the main ======*/
.analysis {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-left: 10px;
  padding-top: 10px;
}

.analysis .analysis__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 225px;
  height: 245px;
  background: #ffffff;
}

.analysis .analysis__card .analysis__img--progress {
  width: 160px;
  height: 126px;
  padding: 20px 0;
  background: url(../../img/main/progress.png) center center no-repeat;
  background-size: cover;
}

.analysis .analysis__card .analysis__img--shipments {
  width: 207px;
  height: 126px;
  padding: 20px 0;
  background: url(../../img/main/shipments.png) center center no-repeat;
  background-size: cover;
}

.analysis .analysis__card h3 {
  padding-bottom: 17px;
  font-family: 'Lato', sans-serif;
  /*mainavtext - classic style for main content*/
  font-weight: bold;
  font-size: calc(16px + 0.1vw);
  color: #777777;
}

.analysis .analysis__card img {
  width: 143px;
  padding: 20px 0;
}

.analysis .analysis__card .analysis__money {
  padding-top: 13px;
  font-family: 'Lato', sans-serif;
  /*titletext - headers and titles*/
  font-weight: bold;
  font-size: calc(10px + 0.137vw);
  color: #777777;
  font-size: 20px;
  background: linear-gradient(77deg, #fd5272 0%, #ea6d54 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.analysis .analysis__card .analysis__money--violet {
  padding-top: 13px;
  background: linear-gradient(77deg, #708ae6 0%, #8841af 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.analysis .analysis__card div .level {
  position: relative;
  font-family: 'Lato', sans-serif;
  /*arrowstext - used for decorative arrows*/
  font-weight: bold;
  font-size: calc(10px + 0.137vw);
  color: #BFBFBF;
}

.analysis .analysis__card div .level::before {
  position: absolute;
  top: 7px;
  left: -7px;
  width: 0px;
  height: 0px;
  content: '';
  border-right: transparent 2px solid;
  border-bottom: 5px solid #A889E9;
  border-left: transparent 2px solid;
}

.analysis .analysis__card div .level-two {
  position: relative;
  margin-left: 10px;
  font-family: 'Lato', sans-serif;
  /*arrowstext - used for decorative arrows*/
  font-weight: bold;
  font-size: calc(10px + 0.137vw);
  color: #BFBFBF;
}

.analysis .analysis__card div .level-two::before {
  position: absolute;
  top: 7px;
  left: -7px;
  width: 0px;
  height: 0px;
  content: '';
  border-top: 5px solid #FD5670;
  border-right: 2px solid transparent;
  border-left: 2px solid transparent;
}

.analysis .analysis__card--second {
  width: 225px;
  height: 245px;
  margin-left: 20px;
}

/*=======Desktop========*/
@media (max-width: 1180px) {
  .main__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main__bottom-right {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .analysis {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .analysis .analysis__card {
    width: 100%;
    height: 250px;
    border-radius: 10%;
  }
  .analysis .analysis__card img {
    width: 250px;
    margin: 10px 0;
    padding: 0;
  }
  .task {
    width: 100%;
    height: 252px;
    margin: 24px auto 10px auto;
    padding: 20px;
    border-radius: 5%/20%;
    text-align: center;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
}

/*=======iPad pro========*/
@media (max-width: 1024px) {
  .container__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main__bottom-left {
    border-radius: 10%;
  }
  .monthly__btns {
    margin-left: 0px;
  }
  .container__reviews {
    padding: 30px;
  }
  .container__reviews h3 {
    font-size: calc(16px + 1.4vw);
    text-align: center;
  }
  .reviews {
    width: 641px;
    margin: 0 auto;
  }
  .msturner__title--profile > span {
    font-size: 16px;
  }
  .additionally__comment--top > span {
    font-size: 16px;
  }
  .additionally__comment--bottom > span {
    font-size: 17px;
  }
  .mrquill__title--comment > span {
    font-size: 16px;
  }
  aside {
    width: 100%;
    margin: 0 auto;
  }
  .aside__container {
    width: 95%;
    margin: 0 auto;
    border-radius: 5%/60%;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .aside__main .aside__company {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .aside__main .aside__company h3 {
    margin: 27px 72px 0 72px;
  }
  .aside__main .aside__friends {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .top__monthly {
    border-radius: 8%/20%;
  }
  .top__hour {
    border-radius: 20%/15%;
  }
  .aside__line {
    display: none;
  }
  .aside__links--top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transform: rotate(-23deg);
            transform: rotate(-23deg);
  }
  .aside__links--bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transform: rotate(23deg);
            transform: rotate(23deg);
  }
  .header__bottom {
    width: 100%;
    -webkit-box-pack: normal;
        -ms-flex-pack: normal;
            justify-content: normal;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
    background: #f0f0f0;
    border-radius: 0% 10% 10% 0%;
    overflow: scroll;
  }
  .daily {
    width: 100%;
    margin-right: 17px;
    padding: 0 20px;
  }
  .aside__link--top {
    -webkit-transform: rotate(-2859deg);
            transform: rotate(-2859deg);
    -webkit-transition: -webkit-transform 30s 5s;
    transition: -webkit-transform 30s 5s;
    transition: transform 30s 5s;
    transition: transform 30s 5s, -webkit-transform 30s 5s;
  }
  .aside__link--bottom {
    margin-top: 2px;
    -webkit-transform: rotate(-2903deg);
            transform: rotate(-2903deg);
    -webkit-transition: -webkit-transform 30s 5s;
    transition: -webkit-transform 30s 5s;
    transition: transform 30s 5s;
    transition: transform 30s 5s, -webkit-transform 30s 5s;
  }
  .aside__links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 992px) {
  .graph__img {
    width: 100%;
  }
  .monthly__btns {
    margin-left: 144px;
  }
}

/*=======iPad========*/
@media (max-width: 768px) {
  .navigation {
    display: none;
  }
  .header__top {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .top__section-search {
    display: none;
  }
  .header__left-container {
    margin: 0;
  }
  .header__right-container {
    margin: 0;
  }
  .top__section--left {
    width: 13vw;
  }
  .top__section--right {
    width: 13vw;
  }
  .top__section--profile {
    display: none;
  }
  .header__burger {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__burger .header__burger--strip {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 27px;
    height: 7px;
    margin: 2px;
    background: #000000;
    border-radius: 2px;
  }
  .profile__mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .profile__mobile .profile__mobile--avatar {
    width: 20px;
    height: 20px;
    background: url(../../img/header/header-avatar.png) center center no-repeat;
    background-size: cover;
    border-radius: 50%;
  }
  .profile__mobile .profile__mobile--find {
    width: 17px;
    height: 17px;
    background: url(../../img/header/header-zoom.png) center center no-repeat;
    background-size: cover;
    margin-right: 4px;
  }
  .main__top {
    width: 90%;
    margin: 0 auto;
  }
  .top__monthly {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 440px;
    border-radius: 10%;
  }
  .monthly__menu {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 100%;
  }
  .monthly__menu h3 {
    font-size: calc(16px + 0.1vw);
  }
  .monthly__btn {
    margin-right: calc(5px + 0.1vw);
  }
  .graph__img {
    width: 428px;
    height: 62px;
    margin-left: 20px;
    margin-bottom: 20px;
    background: url(../../img/main/line.png) center center no-repeat;
  }
  .top__hour {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    margin-left: 10px;
    border-radius: 10%;
  }
  .main__bottom-left {
    width: 90%;
    margin: 0 auto;
  }
  .container__reviews {
    margin: 0 auto;
    width: 100%;
  }
  .reviews {
    width: 100%;
    margin: 0 auto;
  }
  .task {
    -ms-flex-line-pack: justify;
        align-content: space-between;
    width: 90%;
    height: 275px;
    margin: 20px 0 10px 0;
    padding: 20px;
    border-radius: 10%;
    text-align: center;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .task ul {
    width: 90%;
    margin: 0 auto;
  }
  .analysis {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 90%;
    margin: 0 auto;
  }
  .monthly__menu .monthly__btns {
    margin: 0;
  }
  .mouthly__graph {
    width: 100%;
    padding-left: 20px;
    overflow: scroll;
  }
}

@media (max-width: 700px) {
  .main__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .top__monthly {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 100%;
    margin: 0 auto;
  }
  .top__hour {
    margin-top: 20px;
  }
}

@media (max-width: 567px) {
  .top__hour {
    margin-left: 0px;
  }
  .analysis {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 90%;
    margin: 0 auto;
  }
  .analysis__card--second {
    margin: 0;
  }
  .analysis .analysis__card--second {
    margin: 20px 0 auto;
  }
  .main__bottom-left {
    height: 580px;
  }
  .reviews__msturner .msturner__title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .msturner__title--profile {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .msturner__title--profile span {
    margin-bottom: 6px;
    font-size: 10px;
    text-align: center;
  }
  .msturner__title--profile img {
    width: 50px;
    border-radius: 50%;
  }
}

@media (max-width: 539px) {
  .main__bottom-left {
    height: 620px;
  }
  .task {
    height: 340px;
  }
  .aside__main .aside__company h3 {
    margin: 27px 25px 0 23px;
  }
}

@media (max-width: 475px) {
  .reviews__msturner .msturner__additionally .additionally__block {
    margin-left: 34px;
    margin-right: 12px;
  }
  .task ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .task ul li span {
    margin: 2px;
  }
  .task span {
    margin: 2px 0;
  }
  .task h3 {
    margin-bottom: 0;
  }
}

@media (max-width: 439px) {
  .container {
    overflow: hidden;
  }
  .top__section {
    width: 40px;
  }
  .top__section-search {
    display: none;
  }
  .top__section--left {
    border: none;
  }
  .top__section--right {
    border: none;
  }
  .main__bottom-left {
    height: 665px;
  }
  .container__reviews {
    padding: 20px;
  }
  .main__top {
    width: 100%;
  }
  .main__bottom-left {
    width: 100%;
  }
  .task {
    width: 100%;
  }
  .analysis {
    width: 100%;
  }
}

/*=======iphone X========*/
@media (max-width: 375px) {
  .common__title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .common__title .common__title--profile img {
    margin-left: 0;
    border-radius: 50%;
  }
  .common__title .common__title--profile span {
    margin: 3px 0;
  }
  .common__title .common__comment {
    padding: 6px;
  }
  .additionally__comment--top {
    padding: 50px;
  }
  .aside__link--top img {
    padding: 8px;
  }
}

/*=======iPhone 5s ========*/
@media (max-width: 320px) {
  .monthly__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .top__monthly a img {
    -webkit-transform: rotate(2972deg);
            transform: rotate(2972deg);
    -webkit-transition: 5s;
    transition: 5s;
  }
  .header__bottom {
    width: 100%;
    margin: 0 auto;
    background: #3d3d3d;
    border-radius: 0% 10% 10% 0;
  }
  .daily__title {
    color: #c9c9c9;
  }
  .aside__links--bottom {
    margin: 0 10px;
  }
  .main__bottom-left {
    height: 717px;
  }
  .task {
    width: 100%;
    height: 375px;
  }
  .aside__main .aside__company .aside__links {
    margin-right: 4px;
  }
}
/*# sourceMappingURL=main.css.map */